{% extends 'site_base.html' %}

{% load i18n %}
{% load avatar_tags %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'machiavelli/css/machiavelli.css' %}" />
{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url 'summary' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'new_game' %}">{% trans "New" %}</a></li>
<li><a href="{% url 'games_joinable' %}">{% trans "Join" %} ({{ joinable_counter }})</a></li> 
{% if user.is_authenticated %}
<li><a href="{% url 'revolution_list' %}">{% trans "Revolutions" %} ({{ revolution_counter }})</a></li> 
<li><a href="{% url 'games_my_active' %}">{% trans "Active" %} ({{ active_counter }})</a></li>
<li><a href="{% url 'games_pending' %}">{% trans "Pending" %} ({{ pending_counter }})</a></li>
<li><a href="{% url 'games_my_finished' %}">{% trans "Finished " %}</a></li>
{% else %}
<li><a href="{% url 'games_other_active' %}">{% trans "Active" %}</a></li>
<li><a href="{% url 'games_all_finished' %}">{% trans "Finished" %}</a></li>
{% endif %}
</ul>
{% endblock %}

{% block main_content %}
	{% block left_column %}{% endblock %}

{% endblock %}

{% block sidebar %}

{% if ad_banner %}
<div id="banner">
	<a href="{{ banner_url }}"><img src="{% static 'img/'|add:ad_banner %}" /></a>
</div>
{% endif %}

<div id="activity_count">
<h2>{% trans "Activity" %}</h2>
{% blocktrans %}<strong>{{ activity }}</strong> people playing <strong>{{ games }}</strong> games.{% endblocktrans %}
</div>

<div id="top_users">
<h2>{% trans "Best players" %}</h2>
<ul>
{% for profile in top_users %}
	<li
	{% if user.profile == profile %}
	class="my_position"
	{% endif %}
	>
	<span>{% cycle "1" "2" "3" "4" "5" %}. </span>
	<a href="{% url 'profile_detail' username=profile.user.username %}">{% avatar profile.user 24 %}</a>
	<span>{{ profile.user.username }}</span>:
	<span>{{ profile.weighted_score }}</span></li>
{% endfor %}
	{% if my_position %}
		<li class="my_position">
		<span>{{ my_position }}. </span>
		<a href="{% url 'profile_detail' username=user.username %}">{% avatar user 24 %}</a>
		<span>{{ user.username }}</span>:
		<span>{{ user.profile.weighted_score }}</span>
		</li>
	{% endif %}
</ul>
<p style="text-align: right"><a href="{% url 'hall_of_fame' %}">{% trans "Hall of Fame" %}</a></p>
<p style="font-size:smaller">{% trans "Last updated:" %} {{ ranking_last_update|date:"SHORT_DATE_FORMAT" }}</p>
</div>

{% block right_column_extra %}{% endblock %}

{% endblock %}

